#gallery
{
    width: 80%;
}

.box
{
    width: 20%;
}
@media all and (max-width: 992px)
{
    .box
    {
        width: 42%;
    }
}

@media all and (max-width: 480px)
{
    .box
    {
        width: 100%;
    }
}
